* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

main {
  padding: 0 32px 32px;
}

a {
  color: inherit;
}

main > h1 {
  margin-bottom: 32px;
  position: sticky;
  top: 0;
  padding-top: 32px;
  padding-bottom: 12px;
  padding-right: 160px;
  background-color: #fff;
}

main > h1 a,
main > h2 a {
  text-decoration: none;
}

main > .page-number {
  color: #fff;
  font-size: 2em;
  font-weight: 200;
  text-transform: uppercase;
  position: sticky;
  top: 32px;
  text-align: right;
  pointer-events: none;
  margin-bottom: 8px;
}

main > .page-number a {
  background-color: #000;
  pointer-events: auto;
  border-radius: 4px;
  padding: 4px;
}

main > hr {
  padding: 1px 0 0;
  margin-bottom: 32px;
  border: 0;
  background-color: #eee;
}

main > article > header {
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

main > article:not(:last-child) {
  margin-bottom: 32px;
}

main > article .post_message {
  padding: 12px;
  border-radius: 4px;
}

main > article:nth-child(even) .post_message {
  background-color: #eee;
}

main > article:nth-child(odd) .post_message {
  background-color: #ddd;
}

.post-bbcode-quote-wrapper {
  border-radius: 4px;
  padding: 8px;
  font-weight: initial;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;
}

.loading {
  transition: opacity 300ms ease;
  display: flex;
  justify-content: center;
}

.loading[aria-hidden='true'] {
  opacity: 0;
}

.loading span {
  transition: opacity 300ms ease;
}

.fetching .nothread {
  opacity: 0;
  pointer-events: none;
}

.nothread {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 30vh auto 0;
  justify-content: center;
}

.nothread input {
  padding: 8px 24px;
  font-size: 1.4em;
}

.nothread > :not(:last-child) {
  margin-bottom: 16px;
}

.nothread code {
  display: inline-flex;
  background-color: #1f1f34;
  color: #ede0af;
  padding: 2px 6px;
  border-radius: 2px;
  font-family: monospace;
  position: relative;
  top: -1px;
  cursor: pointer;
}

.nothread p {
  text-align: center;
}

.copy-confirmation {
  position: absolute;
  right: 0;
  bottom: calc(100% + 2px);
  background-color: #1f1f34;
  color: #ede0af;
  transition: transform 500ms 100ms cubic-bezier(0.93, 0, 1, 1),
    opacity 300ms 300ms cubic-bezier(0.93, 0, 1, 1);
  padding: 4px 6px;
  border-radius: 2px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.15);
}

.copy-confirmation::before {
  content: 'Kopierat 👍';
}

.copy-confirmation.disappear {
  transform: translate3d(0, -2em, 0);
  opacity: 0;
}
